# Data Analysis with Pandas: Problems 02

This assignment focuses on integrating and analyzing data from multiple sources. You will use advanced Pandas techniques like merging DataFrames, handling missing data, and performing detailed time-series analysis to solve a new set of business problems. Two datasets have been provided for this assignment.

## The Use Case: Multi-Source Data Analysis

The business owner, Ms. Kavita, now has two separate datasets: sales_data.csv (containing daily order details) and customer_info.csv (containing customer names and their city of residence). She needs to combine these datasets to gain deeper insights into her customer base and product sales. Your task is to use Pandas to link these two data sources and answer her questions.

## Instructions

For each problem, write and execute the Python code using Pandas. The problems are designed to be solved sequentially. Load both datasets and use them as needed.

### Problem 1: Data Loading and Merging

Your first task is to load both CSV files and merge them into a single DataFrame. This combined dataset will be the foundation for all subsequent analysis.

Write Python code to:

* Load sales_data.csv into a DataFrame named df_sales.
* Load customer_info.csv into a DataFrame named df_customers.
* Merge the two DataFrames on a common column. Choose the correct join type to ensure no sales records are lost.
* Display the first 5 rows and the column information of the new, merged DataFrame.

Hint: Look for a common identifier column in both datasets to perform the join.

In [1]:
import pandas as pd
df_sales=pd.read_csv("sales_data.csv")
df_customers=pd.read_csv("customer_info.csv")
df_merged = pd.merge(df_sales, df_customers,on="customer_name", how="left")
print(df_merged.head())
print("\nColumn Information:")
print(df_merged.info())

   order_id customer_name product_id       product_name  quantity  \
0       101         Aarav    PROD004  Pistachio Delight         2
1       102          Siya    PROD004   Strawberry Swirl         3
2       103         Kiran    PROD004   Strawberry Swirl         4
3       104         Priya    PROD001     Chocolate Chip         1
4       105         Mohan    PROD004   Strawberry Swirl         1

   unit_price_inr  order_date  total_price_inr  customer_id       city  \
0           152.0  2025-07-01              304          1.0     Mumbai
1           193.0  2025-07-02              579          2.0  Hyderabad
2           226.0  2025-07-03              904          3.0  Hyderabad
3           138.0  2025-07-04              138          4.0      Delhi
4           177.0  2025-07-05              177          5.0  Hyderabad

                    email
0  customer_1@example.com
1  customer_2@example.com
2  customer_3@example.com
3  customer_4@example.com
4  customer_5@example.com

Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         100 non-null    int64
 1   customer_name    98 non-null     object
 2   product_id       100 non-null    object
 3   product_name     100 non-null    object
 4   quantity         100 non-null    int64
 5   unit_price_inr   95 non-null     float64
 6   order_date       100 non-null    object
 7   total_price_inr  100 non-null    int64
 8   customer_id      98 non-null     float64
 9   city             98 non-null     object
 10  email            98 non-null     object
dtypes: float64(2), int64(3), object(6)
memory usage: 8.7+ KB
None

### Problem 2: Advanced Analytical Questions with Merged Data

Now that you have the combined dataset, answer Ms. Kavita's more complex questions that require customer and sales information together.

Write Python code to:

* Find the total sales revenue generated from customers in each city.
* Identify the top 3 best-selling products by quantity.
* Determine the city with the highest total revenue.
* Find the customer who has spent the most money in total.

In [9]:
import pandas as pd
df_merged['revenue'] = df_merged['unit_price_inr'] * df_merged['unit_price_inr'] 
city_revenue = df_merged.groupby("city")["revenue"].sum().reset_index()
print("Total sales revenue per city:")
print(city_revenue)

Total sales revenue per city:
        city    revenue
0      Delhi   575918.0
1  Hyderabad  1512031.0
2     Mumbai   517665.0

In [10]:
top_products = (
    df_merged.groupby('product_name')["unit_price_inr"]
    .sum()
    .sort_values(ascending=False)
    .head(3)
    .reset_index()
)
print("\nTop 3 best-selling products by quantity:")
print(top_products)

Top 3 best-selling products by quantity:
       product_name  unit_price_inr
0  Strawberry Swirl          3869.0
1     Vanilla Dream          3371.0
2    Chocolate Chip          3058.0

In [13]:
city_revenue=df_merged.groupby("city")["total_price_inr"].sum()
top_city = city_revenue.sort_values(ascending=False).head(1)
print("\nCity with the highest total revenue:")
print(top_city)

City with the highest total revenue:
city
Hyderabad    25054
Name: total_price_inr, dtype: int64

In [12]:
top_customer = (
    df_merged.groupby(["customer_id", "customer_name"])["total_price_inr"]
    .sum()
    .sort_values(ascending=False)
    .head(1)
    .reset_index()
)
print("\nCustomer who has spent the most money in total:")
print(top_customer)

Customer who has spent the most money in total:
   customer_id customer_name  total_price_inr
0          4.0         Priya             9568

### Problem 3: Cleaning and Filtering for Specific Insights

Ms. Kavita needs to prepare a report for her marketing team. This requires some data cleaning and specific filtering.

Write Python code to:

* Identify and handle any missing values in the merged DataFrame. Explain your chosen method.
* Filter the DataFrame to show all orders made by customers from 'Mumbai' for the 'Pistachio Delight' product.
* Create a new DataFrame containing only the columns: customer_name, city, product_name, and total_price_inr for all orders that have a revenue of more than INR 300.

In [15]:
import pandas as pd
print("Missing values before handling:")
print(df_merged.isnull().sum())
df_cleaned = df_merged.fillna({
    col: 0 if df_merged[col].dtype in ['int64', 'float64'] else "Unknown"
    for col in df_merged.columns
})
print("\nMissing values after handling:")
print(df_cleaned.isnull().sum())

Missing values before handling:
order_id           0
customer_name      2
product_id         0
product_name       0
quantity           0
unit_price_inr     5
order_date         0
total_price_inr    0
customer_id        2
city               2
email              2
revenue            5
dtype: int64

Missing values after handling:
order_id           0
customer_name      0
product_id         0
product_name       0
quantity           0
unit_price_inr     0
order_date         0
total_price_inr    0
customer_id        0
city               0
email              0
revenue            0
dtype: int64

In [19]:
mumbai_pistachio = df_cleaned[
    (df_cleaned["city"] == "Mumbai") & (df_cleaned["product_name"] == "Pistachio Delight")
]
print("\nOrders from Mumbai for Pistachio Delight:")
print(mumbai_pistachio)

Orders from Mumbai for Pistachio Delight:
    order_id customer_name product_id       product_name  quantity  \
0        101         Aarav    PROD004  Pistachio Delight         2
20       121         Aarav    PROD001  Pistachio Delight         3
40       141         Aarav    PROD004  Pistachio Delight         4
75       176         Aarav    PROD005  Pistachio Delight         3

    unit_price_inr  order_date  total_price_inr  customer_id    city  \
0            152.0  2025-07-01              304          1.0  Mumbai
20           163.0  2025-07-21              489          1.0  Mumbai
40           150.0  2025-08-10              600          1.0  Mumbai
75           174.0  2025-09-14              522          1.0  Mumbai

                     email  revenue
0   customer_1@example.com  23104.0
20  customer_1@example.com  26569.0
40  customer_1@example.com  22500.0
75  customer_1@example.com  30276.0

In [25]:
filtered_orders = df_cleaned[df_cleaned["revenue"] > 300][
    ["customer_name", "city", "product_name", "revenue"]
].rename(columns={"Product": "product_name", "revenue": "total_price_inr"})
print("\nFiltered DataFrame with revenue > 300:")
print(filtered_orders.head())

Filtered DataFrame with revenue > 300:
  customer_name       city       product_name  total_price_inr
0         Aarav     Mumbai  Pistachio Delight          23104.0
1          Siya  Hyderabad   Strawberry Swirl          37249.0
2         Kiran  Hyderabad   Strawberry Swirl          51076.0
3         Priya      Delhi     Chocolate Chip          19044.0
4         Mohan  Hyderabad   Strawberry Swirl          31329.0

### Problem 4: Time-Series and Product-Specific Analysis

The business wants to understand how sales of specific products trend over time and how they perform on different days.

Write Python code to:

* Convert the 'order_date' column to a proper datetime format.
* Create a new column named 'day_of_week' that shows the day name (e.g., 'Monday', 'Tuesday').
* Calculate the total revenue for the 'Vanilla Dream' product each day.
* Find the average daily revenue for each product.

In [26]:
import pandas as pd
df_cleaned["order_date"] = pd.to_datetime(df_cleaned["order_date"], errors="coerce")

df_cleaned["day_of_week"] = df_cleaned["order_date"].dt.day_name()

In [30]:
#Calculate the total revenue for the 'Vanilla Dream' product each day
vanilla_sales = (
    df_cleaned[df_cleaned["product_name"] == "Vanilla Dream"]
    .groupby("order_date")["revenue"]
    .sum()
    .reset_index()
)
print("Total daily revenue for 'Vanilla Dream':")
print(vanilla_sales)

Total daily revenue for 'Vanilla Dream':
   order_date  revenue
0  2025-07-06  52441.0
1  2025-07-09  44521.0
2  2025-07-12  33489.0
3  2025-07-19  16129.0
4  2025-07-23  32400.0
5  2025-07-29  13924.0
6  2025-07-30  29584.0
7  2025-08-01  14641.0
8  2025-08-09  38025.0
9  2025-08-16  47524.0
10 2025-08-19  29241.0
11 2025-08-23      0.0
12 2025-08-27  40000.0
13 2025-08-28  38809.0
14 2025-08-31  34225.0
15 2025-09-13  32041.0
16 2025-09-18   7921.0
17 2025-09-24  38025.0
18 2025-09-26  25281.0
19 2025-10-08  58564.0

In [37]:
#Find the average daily revenue for each product
avg_daily_revenue = (
    df_cleaned.groupby(["product_name", "order_date"])["revenue"]
    .sum()
    .groupby("product_name")
    .mean()
    .reset_index()
    .rename(columns={"revenue": "avg_daily_revenue"})
)
print("\nAverage daily revenue per product:")
print(avg_daily_revenue)

Average daily revenue per product:
        product_name  avg_daily_revenue
0     Chocolate Chip       23708.000000
1       Mango Medley       28678.066667
2  Pistachio Delight       25459.437500
3   Strawberry Swirl       24556.333333
4      Vanilla Dream       31339.250000